.reg
   background: $black
   height: 100%
   .container 
      display: flex
      flex-direction: column
      height: 100%
      max-width: 100%
      width: 100%
.reg__box
   justify-content: space-between
   align-items: flex-start
   overflow-y: auto
.reg__right
   position: fixed
   max-width: 385px
   width: 100%
   flex: 1 0 auto
   height: 100vh
   overflow: hidden
   right: 0
   top: 0
   &:after 
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 100%
      background: rgba(251, 165, 30, 0.6)
      left: 0
      top: 0
   &:before
      content: ""
      display: block
      position: absolute
      left: 234px
      bottom: -169px
      width: 100%
      height: 1122.7px
      background: rgba(240, 155, 21, 0.6)
      transform: rotate(33.6deg)
.reg__img
   width: 100%
   object-fit: cover
   height: 100%
.reg__fig
   position: absolute
   right: 46px
   top: 38px
   z-index: 2
.reg__fig2
   position: absolute
   left: 22px
   bottom: 38px
   z-index: 2
.style1
   position: relative
   z-index: 6
.reg__left
   max-width: 100%
   width: 100%
   padding: 44px 0 53px 64px
   display: flex
   flex-direction: column
   margin: 0 auto
   height: 100vh
   .footer 
      max-width: 895px
      margin: auto auto 0
      width: 100%
.reg__top
   justify-content: space-between
   align-items: center
   max-width: 895px
   margin: 0 auto
   width: 100%
.reg__wrap
   max-width: 521px
   width: 100%
   margin: 15vh auto 0
.reg__name
   font-weight: 700
   font-size: 26px
   line-height: 34px
   color: #FFFFFF
   margin-bottom: 47px
.reg-form
   width: 100%
   input 
      width: 100%
      height: 60px
      background: #FFFFFF
      border-radius: 5px
      padding-left: 51px
      font-size: 14px
      border: none
      margin-bottom: 25px
      &.pass 
         background: url(img/form/lock.svg) no-repeat 16px 17px
         background-color: #FFFFFF
      &.email
         background: url(img/form/mail.svg) no-repeat 18px 17px
         background-color: #FFFFFF
.reg-form__btn
   width: 100%
   height: 60px
   font-size: 16px
   margin-top: 20px
.footer 
   padding-bottom: 10px
.footer__text
   font-weight: 500
   font-size: 12px
   line-height: 16px
   color: #737373
   margin-right: 20px
.footer__list 
   flex-wrap: wrap
   li 
      margin-right: 25px 
      a 
         font-weight: 500
         font-size: 12px
         line-height: 16px
         color: #FFFFFF
         &:hover 
            color: $orange
.footer__flex
   margin-top: 60px
.reg__forgot
   margin-left: auto
   margin-top: 20px
   font-weight: 500
   font-size: 14px
   line-height: 18px
   color: #FFFFFF
   display: block
   width: max-content
   border-bottom: 1px solid #fff
   &:hover 
      color: $orange
      border-bottom: 1px solid $orange
.forgot 
   .reg__name
      margin-bottom: 10px !important
.reg__sub
   font-size: 18px
   line-height: 23px
   margin-bottom: 25px
.footer__text2
   display: none

.header--lang 
   position: relative
   display: flex
   align-items: center
   @media( max-width: 992px )
      justify-content: center
   &::before
      content: ""
      display: inline-block
      width: 10px
      height: 10px
      border-radius: 50%
      background: $orange
      margin-right: 12px
.main_menu
	position: relative
	display: flex
	height: 100px
	&--item
		display: flex
		align-items: center
		padding: 0 20px
	&--lnk
		transition: color .2s
		&:hover
	&--close_button
		display: none
	@media ( max-width: 1000px )
		margin-right: -20px
		padding-right: 20px
		padding-top: 40px
		padding-bottom: 15px
		height: 100%
		flex-direction: column
		overflow-y: scroll
		&--item
			padding: 10px 20px
		&--close_button
			display: block
		&--close_icon
			position: absolute
			right: 30px
			top: 10px
			width: 12px
			height: 12px
			&:hover
.main_submenu
   position: relative
   padding-right: 40px
   cursor: pointer
   @media( max-width: 992px )
      margin-right: -15px
   &--btn
   &--icon
      position: absolute
      top: calc(50% - 6px)
      right: 20px
      width: 12px
      height: 12px
      transform: rotate(0)
      transform-origin: 50% 50% 0
      transition: transform, stroke
   &--list
      display: flex
      flex-direction: column
      position: absolute
      left: 50%
      top: 90px
      padding: 20px 10px
      width: auto
      max-width: none
      background: #fff
      border-radius: 3px
      box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1)
      transition: transform .2s, opacity .2s
      z-index: 100
      @media( min-width: 1001px ) 										
         transform: translateX(-50%) translateY(150px)
         opacity: 0
         visibility: hidden
      &:before
         content: ''
         display: block
         position: absolute
         left: 50%
         top: -8px
         width: 17px
         height: 17px
         transform: translateX(-50%) rotate(45deg)
         background: #fff
   &--subitem
      transition: transform .1s
      @media( min-width: 1001px )
         transform: rotateX(90deg)
   &--lnk
      display: block
      padding: 15px 10px 15px 20px
      white-space: nowrap
      transition: color .2s
      &-padding_equal
         padding: 10px 15px
      &:hover
   &:hover
      .main_submenu--btn
      @media( min-width: 1001px ) 											// раскрытие подпунктов меню в PC версии (до 1001px)
         .main_submenu--icon
            transform: rotate(-180deg)
         .main_submenu--list
            transform: translateX(-50%) translateY(0)
            opacity: 1
            visibility: visible
         .main_submenu--subitem
            transform: rotateX(0)
            opacity: 1
            transition-delay: .8s
            &:nth-child(1)
               transition-delay: .05s
            &:nth-child(2)
               transition-delay: .1s
            &:nth-child(3)
               transition-delay: .15s
            &:nth-child(4)
               transition-delay: .2s
            &:nth-child(5)
               transition-delay: .25s
            &:nth-child(6)
               transition-delay: .3s
            &:nth-child(7)
               transition-delay: .35s
            &:nth-child(8)
               transition-delay: .4s
            &:nth-child(9)
               transition-delay: .45s
            &:nth-child(10)
               transition-delay: .5s
            &:nth-child(11)
               transition-delay: .55s
            &:nth-child(12)
               transition-delay: .6s
            &:nth-child(13)
               transition-delay: .65s
            &:nth-child(14)
               transition-delay: .7s
            &:nth-child(15)
               transition-delay: .75s
   @media ( max-width: 1000px )
      &.main_menu--item
         flex-wrap: wrap
         .main_submenu--list
            display: none
            position: relative
            left: auto
            top: auto
            padding: 10px 0 0
            width: 100%
            background: none
            border-radius: 0
            box-shadow: none
            z-index: auto
            &:before
               display: none
			.main_submenu--lnk
				padding: 10px
			.main_submenu.active
				.main_submenu--icon
					transform: rotate(-180deg)
.lang_select
   position: relative
   display: flex
   height: 50px
   &--selected
      font-weight: 700
      font-size: 14px
      line-height: 18px
      color: #17181E
      display: flex
      align-items: center
      cursor: pointer
      transition: 0.5s
      &:hover 
         color: $orange
      @media( max-width: 992px )
         color: #fff
   &.main_submenu
      @media( max-width: 1000px )
         .main_submenu--list
            transform: translateX(-50%) translateY(50px)
            opacity: 0
            visibility: hidden
         .main_submenu--subitem
            transform: rotateX(90deg)
			&:hover											// раскрытие подпунктов меню в PC версии (до 1001px)
				.main_submenu--icon
					transform: rotate(-180deg)
				.main_submenu--list
					transform: translateX(-50%) translateY(-31%)
					opacity: 1
					visibility: visible
				.main_submenu--subitem
					transform: rotateX(0)
					opacity: 1
					transition-delay: .3s
					&:nth-child(1)
						transition-delay: .05s
					&:nth-child(2)
						transition-delay: .1s
					&:nth-child(3)
						transition-delay: .15s
					&:nth-child(4)
						transition-delay: .2s
					&:nth-child(5)
						transition-delay: .25s
      @media( max-width: 575px )
         transform: translateX(-56%) translateY(-31%)
.wallet-right__scroll::-webkit-scrollbar, .wallet-right__flex::-webkit-scrollbar
   height: 1px
   width: 1px
.wallet-right__scroll::-webkit-scrollbar-track, .wallet-right__flex::-webkit-scrollbar-track
   background: transparent
   border-radius: 3px
.wallet-right__scroll::-webkit-scrollbar-thumb, .wallet-right__flex::-webkit-scrollbar-thumb
   background-color: transparent
   border-radius: 6px
.accordion-container 
   position: relative
   height: auto
   width: 100%
   margin: 32px 0 0
.set
   position: relative
   width: 100%
   height: auto
   margin-bottom: 0px
   transition: 0.5s
   &:hover 
      a 
         p 
            color: $orange
   &:last-child
      a
         border: none
      .content 
         border: none
.set>a
   display: block
   text-decoration: none
   transition: all 0.2s linear
   height: auto
   width: 100%
   background: url(img/down.svg) no-repeat 100% 50%
   padding: 15.5px 0
   border-bottom: 1px solid #EAEAEA
   transition: 0.5s
   p 
      font-weight: 700
      font-size: 16px
      line-height: 21px
      color: $black
      transition: 0.5s
      padding-right: 70px
.set>a.active
   padding-bottom: 15px
   background: url(img/up.svg) no-repeat 100% 50%
   border: none
   padding-top: 18px
.content 
   position: relative
   width: 100%
   height: auto
   display: none
   overflow: auto
   box-sizing: border-box
   padding-bottom: 25px
   border-bottom: 1px solid #EAEAEA
   p 
      font-weight: 400
      font-size: 14px
      line-height: 140%
      color: $black
      max-width: 734px
.supp__left
   max-width: 764px
   flex: 1 0 auto 
   width: 100%
   padding-right: 20px
   border-right: 1px solid #EAEAEA
   margin-right: 27px
.supp__flex 
   align-items: center
   margin-bottom: 50px
.supp__block
   display: flex
   align-items: center
   justify-content: center
   width: 100px
   height: 75px
   background: #17181E
   border-radius: 5px
.supp__item:nth-child(2) .supp__block
   background: #3390EC
   margin-left: 25px
.supp__item
   display: flex
   align-items: center
   &:hover
      p 
         color: $orange
         border-bottom: 1px solid $orange
.supp__link
   font-weight: 400
   font-size: 18px
   line-height: 23px
   margin-left: 14px
   color: $black
   border-bottom: 1px solid $black
   width: max-content
   transition: 0.5s
.supp__title
   font-weight: 700
   font-size: 20px
   line-height: 26px
   color: $black
   margin-bottom: 7px
.supp__ask
   font-weight: 400
   font-size: 14px
   line-height: 140%
   margin-bottom: 26px
   color: $black
.supp__el
   margin-bottom: 12px
   max-width: 450px
   position: relative
   textarea 
      width: 100%
      max-width: 100%
      padding-top: 19px
      padding-left: 19px
      min-height: 176px
      background: #FFFFFF
      border: 1px solid #DADADA
      border-radius: 5px
      box-sizing: border-box
      transition: 0.5s
.support .calc__form .reg-form__btn
   margin-top: 25px
.body-wrap input:focus, textarea:focus 
   border: 1px solid $orange !important
.support
   .wallet-right
      padding-bottom: 18px
   .supp__box 
      height: 100%
   .wallet-right__content
      height: auto
      min-height: 89vh
.def__top 
   align-items: center
   margin-bottom: 45px
.def__item
   width: 200px
   height: 50px
   border: 1px solid #EAEAEA
   border-radius: 5px
   align-items: center
   justify-content: center
   display: flex
   &.active 
      background: #0D0D0F
      p 
         color: #fff
   &:hover 
      border: 1px solid $orange
      p 
         color: $orange
   &:first-child
      margin-right: 15px
.def__item_name
   margin-left: 10px
   font-weight: 400
   font-size: 16px
   line-height: 100%
   color: $black
   transition: 0.5s
.main_submenu--lnk
   color: $black
#def-form
   position: relative
   width: 100%
   max-width: 764px
   input
      width: 100%
      height: 50px
      background: #FFFFFF
      border: 1px solid #EAEAEA !important
      border-radius: 5px
      padding-left: 32px
      font-size: 14px
      &:focus 
         border: 1px solid $orange !important
.def-form__btn
   position: absolute
   top: 14px
   right: 16px
   background: transparent
   border: none
.def__flex 
   justify-content: space-between
   margin-bottom: 15px
.def__select
   .lang_select
      width: 200px
      height: 50px
      background: #FFFFFF
      border: 1px solid #DADADA
      border-radius: 5px
      padding-left: 20px
   .lang_select--selected
      font-size: 14px
      line-height: 18px
      color: #888888
      font-weight: normal
   .lang_select:hover .main_submenu--list
      width: 100%
      transform: translateX(-50%) translateY(-30%)
.def__body
   .profile__row:first-child
      td
         border-top: 0.857372px solid #EFEFEF
.def__line
   align-items: center
.def__firms
   position: relative
.def__logo_small
   position: absolute
   left: -7px
   top: -4px
   width: 15px
   height: 15px
   border-radius: 50%
.def__name
   margin-left: 15px
   font-weight: 700
   font-size: 16px
   line-height: 100%
   color: $black
.def__logo
   width: 32px
   height: 32px
   border-radius: 50%
   position: relative
   z-index: 2
.def__core
   display: flex
   align-items: center
   justify-content: center
   padding: 0 13px
   width: max-content
   height: 30px
   background: #088C60
   border-radius: 3px
   p 
      color: #fff
      font-weight: 700
      font-size: 14px
      line-height: 100%
      margin-left: 10px
.def__sub
   font-weight: 400
   font-size: 14px
   line-height: 100%
   margin-bottom: 3px
   color: $black
.def__sum
   font-weight: 700
   font-size: 16px
   line-height: 100%
   color: $black
   display: flex
   align-items: center
   img 
      margin-left: 8px
.def__farm
   width: 120px
   height: 30px
   margin-left: auto
   margin-right: 20px
.def__auction
   display: flex
   align-items: center
   justify-content: center
   padding: 0 13px
   width: max-content
   height: 30px
   background: #085C8C
   border-radius: 3px
   p 
      color: #fff
      font-weight: 700
      font-size: 14px
      line-height: 100%
      margin-left: 10px
.wallet__title_2
   margin-top: 70px
.staking 
   .def__logo_small
      right: -10px
      bottom: -6px
      left: inherit
      top: inherit
      z-index: 2
      width: 20px
      height: 20px
.def__name_span
   display: block
   font-weight: 400
   font-size: 14px
.def__usd
   font-weight: 400
   font-size: 12px
.def__per
   display: flex
   width: 72px
   height: 30px
   border-radius: 3px
   align-items: center
   justify-content: center
   font-size: 14px
   font-weight: 700
   color: #FFFFFF
   margin-left: 15px
.green .def__per
   background: #088C60
.red .def__per
   background: #FB461E
td[data-label="#"]
   font-weight: 700 !important
   font-size: 16px !important
thead .svg:hover 
   path 
      fill: white
.def .wallet-right__content
   display: flex
   flex-direction: column
   min-height: 850px
.token__body tr td:last-child
   margin: 0 auto 
   text-align: right
   .btn 
      margin-left: auto
      margin-right: 25px
.stat 
   text-align: right !important
   padding-right: 56px !important
.done .table__btn 
   background: #088C60
   pointer-events: none
.process .table__btn 
   background: #FBA51E
   pointer-events: none
   // &:hover 
   //    border: 1px solid #FBA51E
   //    color: #FBA51E
.denide .table__btn 
   background: #FB461E
   pointer-events: none
   // &:hover 
   //    border: 1px solid #FB461E
   //    color: #FB461E
.zae label 
  text-align: left
  font-size: 11px
  color: rgba(42, 51, 63, 0.65)
input#agree 
  margin-right: 14px
  width: 20px
  height: 20px
  border: 1px solid #D7D7E4
  flex: 1 0 auto
  max-width: 20px
.zae 
  margin-top: 15px
.zae label
   font-weight: 400
   font-size: 14px
   line-height: 18px
   color: $black
   cursor: pointer
   &:hover:before 
      border: 1px solid $orange
   a 
      color: $orange
      &:hover 
         color: $black
input[type=checkbox] 
  display: none
input[type=checkbox]+label:before 
  content: "\2713"
  color: transparent
  display: inline-block
  border: 1px solid #D7D7E4
  font-size: 14px
  line-height: 19px
  margin: -5px 10px 0 0
  height: 20px
  width: 20px
  text-align: center
  vertical-align: middle
  transition: 0.5s
  border-radius: 5px
  box-sizing: border-box
  cursor: pointer
input[type=checkbox]:checked+label:before 
   color: #fff
   border: 1px solid transparent
   background: #FBA51E
.token-order
   margin-top: 20px
   width: 535px
   height: auto
   border: 4px solid #FBA51E
   border-radius: 5px
   padding: 24px 40px
   input 
      padding-left: 24px
   .supp__el
      position: relative
.token-order__link 
   display: flex
   align-items: center
   justify-content: center
   width: 80px
   height: 40px
   background: #FFFFFF
   border: 1px solid #DADADA
   border-radius: 5px
   margin-right: 10px
   margin-bottom: 5px
   &:hover 
      border: 1px solid $orange
   &:last-child
      margin-right: 0
.token-order__icon
   width: 20px
   height: 20px
   -webkit-filter: grayscale(1)
   filter: gray
   filter: grayscale(1)
.token-order__name
   font-size: 14px
   line-height: 18px
   color: #9F9F9F
   margin-left: 6px
.token-order__link.active 
   background: linear-gradient(75.07deg, #8BDCFA 4.93%, #A9FFE0 100%)
   p 
      color: $black
   .token-order__icon
      -webkit-filter: inherit
      filter: inherit
.token-order__tabs
   margin-bottom: 15px
   flex-wrap: wrap
.token-order__item
   position: absolute
   right: 15px
   top: 46px
   font-size: 14px
   color: #888888
input.inactive 
   pointer-events: none
   background: #F5F5F5
.token-order__sum
   font-weight: 500
   font-size: 14px
   line-height: 18px
   color: #888888
   position: absolute
   left: 23px
   top: 43px
.token-order__flex  
   justify-content: space-between
   width: 100%
   .calc__form__item
      width: 48% !important
      input 
         width: 100%
      &:first-child
         input
            margin-right: 20px
.token-order__btn 
   width: 215px
   height: 60px
   font-weight: 700
   font-size: 14px
   margin-top: 25px
.wallet__all
   font-weight: 700
   font-size: 14px
   color: $orange
   width: max-content 
   border-bottom: 1px solid $orange
   margin-top: 20px
   margin-left: auto
   margin-right: 71px
   &:hover 
      color: $black
      border-bottom: 1px solid $black
.wallet__all_table
   margin-top: 10px
   margin-right: 0
/*POPUP*/
.box-modal__close:hover 
  transform: rotate(90deg)
.box-modal__close 
   position: absolute
   top: 14px
   right: 14px
   transition: all 0.5s ease
   z-index: 100
   cursor: pointer
   @media ( max-width: 576px )
      right: 15px
      top: 15px
.box-modal 
   position: relative
.popup-call__box 
   position: absolute
   margin-left: -304px
   top: 50%
   left: 50%
   margin-top: -300px
   box-sizing: border-box
   height: auto
   width: 608px
   height: auto
   background: #FFFFFF
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2)
   border-radius: 5px
   padding: 53px 110px
   @media screen and (max-width: 768px)
      width: 500px
      margin-left: -250px
      padding: 40px 20px
      .popup__code
         width: 100%
         height: auto
   @media screen and (max-width: 576px)
      width: 100% !important
      left: 0 !important
      margin-left: 0 !important
.popup__name
   margin-bottom: 30px
   font-weight: 700
   font-size: 24px
   line-height: 31px
   color: $black
.popup__code
   width: 386px
   height: 386px
   margin: 0 auto
#code .popup__name
   text-align: center
.popup__info
   font-size: 14px
   line-height: 18px
   color: $black
   margin-bottom: 20px
.popup__sum
   font-weight: 700
   font-size: 14px
   line-height: 18px
   color: $black
   margin-left: 5px
.popup .calc__form input
   width: 100%
#p1 .popup-call__box 
   padding: 46px 40px 20px
   width: 530px
   margin-left: -265px
   .supp__el
      max-width: 100%
   .token-order__btn
      width: 294px
      height: 60px
   input 
      padding-left: 28px
#success .popup-call__box 
   padding: 46px 40px 20px
   width: 530px
   margin-left: -265px
   .calc__fourth_btn
      width: 294px
      height: 60px
      margin: 20px auto 0
   .calc__fourth_name 
      font-size: 32px
      line-height: 34px
      margin: 0px 0 20px
   .calc__fourth_pic
      width: 156.49px
      height: 129.6px
   .calc__fourth_box
      margin-left: 0
      max-width: 100%
      margin-top: 0
   .wallet-item__link
      width: max-content
      display: flex
      align-items: center
      transition: 0.5s
      font-size: 16px
      margin: 10px auto 0
      p  
         color: #027DC2
         border-bottom: 1px solid #027DC2
         transition: 0.5s
      path 
         fill: #027DC2
      &:hover 
         p
            color: $orange
            border-bottom: 1px solid $orange
         path 
            fill: $orange

/* SELECT */
.selectCF
   margin: 0
   padding: 0
   display: inline-block
   position: relative
   font-size: 17px
   font-weight: bold
   width: 200px
   height: 50px
   background: #FFFFFF
   border-radius: 5px
   color: $black
   display: flex
   align-items: center
   justify-content: center
   border: 1px solid #DADADA
   border-radius: 5px
   transition: 0.5s
   &:hover 
      border: 1px solid $orange
.selectCF li
   list-style:none
   cursor: pointer
   perspective: 900px
   -webkit-perspective: 900px
   text-align: left
   width: 100%
   height: 100%
   max-height: 100%
   box-sizing: border-box
.selectCF > li
   position: relative
   font-size: 0
.selectCF span
   display: flex
   height: auto
   line-height: 100%
   color: #888888
   z-index: 1
   align-items: center
.selectCF .arrowCF
   transition: .3s
   -webkit-transition: .3s
   width: 12px
   height: 12px
   text-align: center
   vertical-align: top
   background: url(img/wallet/down.svg) no-repeat !important
   position: absolute
   right: 20px
   top: 20px
.selectCF .titleCF
   font-size: 14px
   font-weight: 400
   overflow: hidden
   text-overflow: ellipsis
   white-space: nowrap
   width: max-content !important
   height: max-content !important
   padding-left: 20px
   box-sizing: border-box
   margin-top: 18px
   max-width: 160px
.selectCF .searchCF
   position: absolute
   top: 3px
   right: 0
   z-index: -1
@keyframes searchActive 
  from
   transform: rotateY(180deg) 
  to
   transform: rotateY(0deg)
@-moz-keyframes searchActive 
  from
   transform: rotateY(180deg) 
  to
   transform: rotateY(0deg)
@-webkit-keyframes searchActive 
  from
   -webkit-transform: rotateY(180deg) 
  to
   -webkit-transform: rotateY(0deg)
.searchActive .searchCF
   z-index: 1
   animation: searchActive 0.3s alternate 1
   -moz-animation: searchActive 0.3s alternate 1
   -webkit-animation: searchActive 0.3s alternate 1
.searchActive .titleCF
   opacity: 0
.selectCF .searchCF input
   border: none !important
   padding: 0
   margin: 0
   width: auto
   height: auto
   background: transparent
.selectCF .searchCF input:active, .selectCF .searchCF input:focus
   box-shadow: none !important
   border: none !important
   outline: none !important
.selectCF li ul
   display: none
   position:absolute
   top: 100%
   left: 0%
   padding: 0 !important
   width: 101%
   background: #FFF
   max-height: 255px
   overflow-y: auto
   transition: .2s
   -webkit-transition: .2s
   z-index: 2
   background:rgba(253,253,253,.9)
   box-sizing: border-box
.selectCF li ul li
   padding: 9px 0 9px 20px
   font-weight: normal
   font-size: 14px
   transition: .2s
   -webkit-transition: .2s
   overflow: hidden
   text-overflow: ellipsis
   white-space: nowrap
   border: 1px solid #DADADA 
   border-top: none
   box-sizing: border-box
   height: 34px
   &:first-child
      border-top: 1px solid #DADADA 
   &:last-child
      border-radius: 0px 0px 5px 5px
.selectCF li ul li:hover
   background: #666
   color:#FFF
   border: 1px solid #666
   padding-top: 9px
.selectCF .selected
   background: $black
   color:#FFF
   border-radius: 0px
   border: 1px solid $black
.onCF .arrowCF
  transform: rotate(180deg)
  -webkit-transform: rotate(180deg)
@-moz-keyframes effect1 
  from
   transform: translateY(15px)
   opacity: 0
  to
   transform: translateY(0px)
   opacity: s1
@-webkit-keyframes effect1 
  from
   -webkit-transform: translateY(15px) 
   opacity: 0
  to
   -webkit-transform: translateY(0px)
   opacity: 1
.onCF li ul
  display: block
  position: absolute
  -moz-animation: effect1 0.3s alternate 1
  -webkit-animation: effect1 0.3s alternate 1
  left: -1px
  top: 45px
h2, ul.info li, #event-change
  color: #FFF
ul.info
  padding: 0
  display: none
ul.info li
  display: inline-block
  border: solid 1px #FFF
  border-radius: 5px
  padding: 0 5px
#event-change
  padding: 20px 0
  position: absolute
  color: transparent
  z-index: -1
.custom-link
   position: absolute
   bottom: 30px
   right: 30px
   color: #FFF
   font-size: 12px
   text-decoration: none
   transition: .3s
   -webkit-transition: .3s
   font-size: 20px
   a:hover
      color: $orange