@media screen and (max-width: 1850px) 
   .supp__left
      max-width: 529px
   .reg__left
      padding: 44px 300px 53px 64px
// @media screen and (max-width: 1699px) 
@media screen and (max-width: 1599px) 
   .supp__flex
      flex-direction: column
      align-items: flex-start
   .supp__item:nth-child(2) .supp__block
      margin-left: 0
   .supp__item:nth-child(1)
      margin-bottom: 20px
   .reg__left 
      padding: 44px 44vh 53px 64px
@media screen and (max-width: 1499px) 
      .reg__left 
         padding: 44px 446px 53px 64px
@media screen and (max-width: 1399px) 
   .wallet-left 
      max-width: 250px
      padding: 26px 30px 25px 19px
   .wallet-right__content 
      padding: 50px 20px 0
   .table__link
      font-size: 12px
   .wallet-right
      padding-left: 249px
   .wallet-right__scroll 
      max-width: 101%
      width: 101%
   .calc__form input
      width: 367px
   .calc__fourth_box
      margin-left: 250px
   .supp__el input 
      margin-right: 0 !important
      width: 100%
   #def-form
      max-width: 500px
   .def__sum
      width: max-content
   .def__farm 
      width: 100px
      height: 30px
      margin-left: auto
      margin-right: 10px
   .def__sum 
      font-size: 12px
      img 
         flex: 1 0 auto 
         max-width: 16px
   .supp__left 
      max-width: 502px
   .footer__text
      margin-left: -6px
   .wallet-left_small ~ .wallet-right
      padding-left: 83px 
      .wallet-right__content
         padding-left: 43px
   .wallet-left_small .wallet__logo
      left: -2px
@media screen and (max-width: 1199px) 
   .wallet-left_small .wallet-left__list p
      display: block
   .wallet-left_small .wallet__logo
      width: 150px
      max-width: 100% 
      left: 0
      img 
         width: 100%
         height: 100%
   .wallet-left_small ~ .wallet-right 
      padding-left: 0
      .wallet-right__content
         padding-left: 20px
   .wallet__box
      flex-direction: column
   .wallet-left
      height: auto
      width: 100% !important
      max-width: 100% !important
      position: relative
   .wallet-right
      padding-left: 0
   .footer__text2
      display: block
   .wallet-left .footer__text 
      display: none
   .wallet-left__list
      display: flex
      padding-bottom: 10px
      margin: 40px auto 0
      li:last-child
         a
            padding-right: 0
   .wallet-left__list a
      width: auto
      white-space: nowrap
      padding-left: 0
      padding-right: 35px
      height: 30px
   .wallet__logo
      margin: 0 auto
   .scan__table tbody tr
      border: 0.5px solid #EFEFEF !important
   .profile__row td:nth-child(1) 
      padding-left: 5px
   .scan__table td
      color: #17181E !important
      font-weight: 400 !important
   td[data-label="Transaction Hash"]
      flex-wrap: wrap
      text-align: center !important
      justify-content: center !important
      &:before 
         margin-right: 0 !important
   .table__link
      font-size: 12px !important
      margin-top: 10px 
   .wallet .footer__list 
      justify-content: center
      margin-top: 80px
   .wallet__scroll
      margin: 0 auto
   .scan__table tbody tr td:last-child
      border-bottom: none
   .scan__table tbody tr td:first-child 
      border-left: none
   .scan__table tbody tr td:last-child 
      border-right: none
   .scan__table tbody tr:last-child td:first-child
      border-left: none
   .scan__table tbody tr:last-child td:last-child
      border-bottom: none
   .wallet-left__list a p
      margin-left: 10px
   .calc__three_wrap .calc__form__item
      margin: 0 auto 20px
   .calc__three .reg-form__btn
      margin: 20px auto 0
   .calc__fourth_box
      margin: 20px auto 0
   .settings .wallet-right__content
      height: 100%
   .supp__el
      max-width: 100%
   .support
      .wallet-right__content
         height: 100% !important
   .supp__right
      width: 100%
   .def__sum
      font-size: 16px
   .def__body td[data-label]:before
      display: none
   .def__body td 
      text-align: center !important
      justify-content: center !important
   .def__body .def__sum 
      margin: 5px auto
   .def__farm
      margin: 0 auto
   .def__body .profile__row:first-child td
      border-top: none !important
   .scan__table .def__body tr:last-child td:last-child
      border-right: none !important
   .def__line
      text-align: left
      flex-wrap: wrap 
      max-width: 255px
   .pad 
      border-right: none !important
      &:before 
         display: none !important
   .def .wallet-right__content
      min-height: auto
   .token__body tr td:last-child 
      flex-direction: column
      margin: 0 auto
      align-items: center
      width: 100%
      border-right: none !important
      &:before
         margin-right: 0
         margin-bottom: 10px
   .token__body tr td:last-child .btn
      margin: 0 auto
   .token-order
      margin: 20px auto 0
      height: auto
   .wallet__all
      margin: 20px auto 0
   .wallet__all_table 
      margin-top: 0
   .reg__right
      display: none
   .reg__left
      margin: 0 auto
      padding: 40px
@media ( max-width: 991px )
   .burger 
      position: fixed
      flex-direction: column
      right: -150%
      top: 0px
      z-index: 100000
      display: flex
      box-sizing: border-box
      transition: .3s all ease-in-out
      width: auto
      height: auto
      background-color: #000c28
   .burger.active 
      right: 0px
      top: 0px
      max-width: 100%
      padding: 70px 30px
      height: 100vh
      width: 100%
   .menu 
      display: flex
      position: relative
      top: -17px
      right: 0px
   .menu .button 
      position: absolute
      display: flex
      z-index: 1000000
      right: -8px
      top: -8px
      width: 40px
      height: 19px
      align-items: center
      justify-content: center
      margin-left: auto
   .menu .button.active 
      position: fixed
      right: 18px
      top: 50px
   .menu .button span 
      position: absolute
      top: calc(50% - 1px)
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: $orange
   .menu .button span::before 
      content: ''
      position: absolute
      top: -8px
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: $orange
   .menu .button span::after 
      content: ''
      position: absolute
      bottom: -8px
      transition: .3s all ease-in-out
      width: 24px
      height: 3px
      border-radius: 1px
      background-color: $orange
   .menu .button.active span 
      background-color: transparent !important
      width: 24px
      .menu .button.active span::before 
      content: ''
      width: 24px
      top: calc(50% - 2px)
      transform: rotate(45deg)
      background-color: $orange
   .menu .button.active span::after 
      content: ''
      bottom: calc(50% - -7px)
      transform: rotate(-86deg)
      background-color: $orange
      width: 24px
   .burger .nav__list 
      display: block !important
      text-align: center
      max-width: 100%
      a 
         color: #fff
         text-align: center
         margin-bottom: 20px
         display: block
   .wallet-right__top
      display: none !important
   .burger .wallet-right__top 
      display: block !important
      padding: 0
      background: transparent
      .wallet-right__link, .wallet-right__name, .new-select
         color: #FFFFFF
   .select
      justify-content: center
      margin: 0 auto
   .wallet-right__wrap
      margin-top: 10px
   .wallet-right__wrap
      flex-direction: column
   .wallet-right__lan li:first-child a 
      padding-left: 0
      margin-left: 0
   .wallet-right__info
      margin-left: 0
      margin-top: 16px
   .new-select__list
      top: 36px
   .wallet__scroll
      overflow-x: scroll
      width: 100%
   .wallet__scroll
      display: none !important
   .burger .wallet-left__list
      display: block !important
      width: max-content
      margin: 40px auto 0
      li 
         width: max-content
         margin-bottom: 5px
         a 
            padding-right: 0
   .adaptive-table tr
      margin: 15px
   .calc__form input
      margin-right: 0
      margin-bottom: 20px
   .calc__form_flex
      flex-direction: column
   .calc__form__item
      width: max-content
   .calc__two_flex
      flex-direction: column 
   .calc__two_code
      margin-right: 0
      margin-bottom: 20px
   .calc__two_content
      text-align: center
   .calc__form .reg-form__btn
      margin: 20px auto 0
   .calc__elem
      justify-content: center
      margin: 0 auto
      display: flex
      flex-direction: column
      align-items: center
   .calc__form .lang_select--selected
      width: 367px
   .calc__form .lang_select:hover .main_submenu--list 
      width: 100%
      transform: translateX(-50%) translateY(-24%)
   .calc__form .password-control, .calc__form .password-control2, .calc__form .password-control3, .calc__form .password-control4 
      right: 18px
   .set__info
      text-align: center
      width: 80%
      margin: 5px auto 0
   .supp__box
      flex-direction: column
      align-items: center
   .supp__left
      padding-left: 0
      margin-right: 0
      margin-bottom: 40px
      border: none
   .supp__flex
      width: max-content
      margin: 0 auto 40px
   .support .wallet__title
      text-align: center
   .supp__el
      width: 100%
      max-width: 509px
   .zae 
      margin-top: 0
   #p1 .popup-call__box input
      margin-bottom: 0
   .popup__info
      margin-right: auto
@media screen and (max-width: 767px)
   .menu .button
      top: -8px
   td[data-label="Transaction Hash"]
      flex-direction: column
      align-items: center !important
   .table__link
      margin-top: 4px
   .adaptive-table tr
      margin: 0 0 15px
   .wallet-right__scroll 
      max-width: 102%
      width: 102%
   #def-form 
      max-width: 300px
@media screen and (max-width: 576px)
   input, textarea, select 
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   .reg__left 
      padding: 40px 0 20px !important
      height: 100%
   .reg__top
      flex-direction: column
   .reg__login
      width: 100% !important
      margin-top: 40px
   .reg__wrap
      margin: 80px auto 0
   .reg, .reg .container 
      height: 100% !important
   .reg__name 
      font-size: 21px
      margin-bottom: 25px
   .footer__flex
      flex-direction: column-reverse
   .footer__text
      margin-right: 0
      margin-top: 20px
      text-align: center
   .footer__list
      flex-direction: column 
      text-align: center
      li 
         margin: 0 0 15px !important
   .footer__flex 
      margin-top: 120px
   .reg__sub
      font-size: 16px
   .wallet-left__list a p
      margin-left: 10px
   .wallet-item__info
      flex-direction: column
   .wallet-item__icon
      margin-right: 0
      margin-bottom: 20px
   .wallet-item__row
      text-align: center
      justify-self: center
      flex-direction: column
   .wallet-item__balance, .wallet-item__sum, .wallet-item__usdt, .wallet-item__sum2
      margin-bottom: 5px
   .wallet-item__el
      flex-direction: column
   .wallet-item__code
      margin: 0 auto 10px
   .wallet-item__address
      text-align: center
   .wallet-item__bottom
      flex-direction: column
   .wallet-item__btn
      width: 100%
      margin-top: 20px
   .wallet-item__flex
      margin-bottom: 15px
   .wallet-item
      padding: 20px 20px 30px
      width: auto
   .wallet-item__link
      font-size: 12px
   .menu .button 
      top: -16px
      right: -22px
   .adaptive-table tbody
      padding-top: 0
   .wallet__title
      text-align: center
   .profile__row
      margin: 0 auto 20px !important
   .wallet .footer__list p 
      position: absolute
      margin-left: -42px
      bottom: 15px
      left: 50%
   .wallet .footer
      padding-bottom: 40px
   .menu .button
      top: -6px
   .menu .button.active
      top: 32px
   .lang_select:hover .main_submenu--list 
      transform: translateX(-56%) translateY(-31%)
   .wallet-right__scroll
      max-width: 104%
      width: 104%
   .wallet__load
      width: 100%
   .adaptive-table td, .adaptive-table .profile__row .active
      align-items: center
   .set__top
      flex-direction: column
   .chous
      margin-right: 0
      margin-bottom: 20px
   .set__size
      text-align: center
      margin-bottom: 10px
   .set__browse
      margin-left: 0
      width: 100%
   .calc__form__item
      width: 100%
   .calc__form input.name
      width: 100%
   .calc__form_flex
      width: 100%
   .calc__form input, .calc__form .lang_select--selected
      width: 100%
   .calc__form .main_submenu
      width: 100%
   .set__top
      width: 100%
   .calc__form .reg-form__btn
      width: 100%
   .checkboxes-and-radios label
      margin-left: 10px
   .set__info
      width: 100%
      font-size: 12px
   .calc__two_code
      width: 100%
      height: auto
      max-width: 300px
   .calc__two_flex
      width: 100%
      margin-top: 20px
   .calc__two_content
      width: 100%
   .calc__two_link
      font-size: 17px
      margin-top: 5px
   .calc__three_wrap .calc__form__item
      width: 100%
   .calc__three_wrap
      width: 100%
      margin-top: 20px
   .calc__three_wrap .calc__form__item
      margin-bottom: 10px
   .calc__fourth_box, .calc__fourth .calc__fourth_btn
      width: 100%
   .calc__fourth_pic
      width: 68%
   .calc__fourth_name 
      font-size: 26px
      line-height: 29px
   .content p
      font-size: 12px
   .set > a p
      font-size: 14px
   .supp__item
      flex-direction: column
      width: 100%
   .supp__link
      margin-left: 0
      display: block
      margin: 15px auto 0
   .supp__item:nth-child(1)
      margin-bottom: 30px
   .support .calc__form .reg-form__btn 
      margin-top: 10px
   .support .calc__form input.name, .support input.email 
      margin-bottom: 0
   .def__top
      flex-direction: column
   .def__item:first-child 
      margin-right: 0
      margin-bottom: 10px
   .def__item
      width: 100%
   .def__flex
      flex-direction: column
   .def__select .lang_select 
      width: 100%
      margin-bottom: 10px
   #def-form input
      padding-left: 21px
   .def__line
      justify-content: flex-end
   .wallet__title_2 
      margin-top: 40px
   #def-form 
      max-width: 100%
   .token-order
      width: 100%
      padding: 25px 10px
      .supp__el
         margin-bottom: 0
   .token-order__flex
      flex-direction: column 
      .supp__el
         width: 100% !important
   .token-order__btn
      width: 100%
   .token-order__link
      margin-right: 5px
   .wallet__all_table 
      margin-top: -20px
   .arcticmodal-container_i
      width: 100%
   .popup__name 
      margin-bottom: 20px
      font-size: 21px
      line-height: 27px
   #p1 .popup-call__box .token-order__btn, #success .popup-call__box .calc__fourth_btn
      width: 100%
   #p1 .popup-call__box, #success .popup-call__box
      padding: 40px 20px
   #success .popup-call__box .wallet-item__link p
      font-size: 12px
   #success .popup-call__box .calc__fourth_name 
      font-size: 27px
      line-height: 31px
   .popup-call__box
      margin-top: -100%
   .selectCF
      width: 100%
      margin-bottom: 10px
      border: 1px solid #EAEAEA
      z-index: 2
   .selectCF li ul
      left: -1px
      width: 100.5%
   .test6
      a 
         width: 100%
         margin: 0 0 10px
   .test5
      flex-direction: column
      li
         width: 100% !important
         margin: 10px auto !important
         a 
            font-size: 16px !important
@media screen and (max-width: 340px)
   .selectCF li ul
      width: 100.7%